nodered/backups/flows.json
[{"id":"dab61356.33b5b","type":"tab","label":"Boot","disabled":false,"info":""},{"id":"340c01ee.e2eb16","type":"tab","label":"Übersicht/Charts","disabled":false,"info":""},{"id":"18e32c36.87e98c","type":"tab","label":"Serie_Ansage","disabled":false,"info":""},{"id":"9c631078.7c4b3","type":"tab","label":"Spiel_Ansage","disabled":false,"info":""},{"id":"9c998f02.d92c2","type":"tab","label":"Statistik","disabled":false,"info":""},{"id":"f30f8d46.e3b7e","type":"tab","label":"Test","disabled":false,"info":""},{"id":"3f19d1e.b6a0f2e","type":"subflow","name":"Reformat Date","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"502efcad.46c0e4"}]}],"out":[{"x":460,"y":40,"wires":[{"id":"502efcad.46c0e4","port":0}]}]},{"id":"4d857192.18663","type":"subflow","name":"Get Chart Data","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"86e86af1.f7d528"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"122a878c.60ad48","port":0}]}],"env":[],"color":"#f2af1d","icon":"node-red/db.svg"},{"id":"f243954b.8c09d8","type":"subflow","name":"Intercept?","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"7af10ca.cad67f4"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"7af10ca.cad67f4","port":0}]}]},{"id":"6c992b35.3a2aa4","type":"subflow","name":"MySQL","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cc52d998.fdecf8"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"9135585f.c581a8","port":0}]}],"env":[],"color":"#f2af1d"},{"id":"b897de6c.9f0a08","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0080ff","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Skat","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#666666","edited":true},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Skat Liste","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":50,"gx":1,"gy":1,"cx":10,"cy":10,"px":15,"py":10}}},{"id":"db42e0bf.c4b188","type":"ui_tab","name":"Skatlisten","icon":"fa-list-alt","order":2},{"id":"52d646af.227228","type":"ui_group","name":"Liste","tab":"db42e0bf.c4b188","order":1,"disp":true,"width":"20","collapse":true},{"id":"8b5dbf99.c90fd","type":"MySQLdatabase","name":"mariadb","host":"skatliste_mariadb","port":"3306","db":"skatliste","tz":"","charset":""},{"id":"12c40284.9ad24d","type":"ui_group","name":"Punkteblatt","tab":"db42e0bf.c4b188","order":9,"disp":true,"width":"21","collapse":false},{"id":"812c1947.8e3e78","type":"ui_group","name":"Spielende","tab":"db42e0bf.c4b188","order":3,"disp":false,"width":"10","collapse":false},{"id":"eefaa3f4.6d845","type":"ui_group","name":"Extras","tab":"db42e0bf.c4b188","order":4,"disp":false,"width":"2","collapse":false},{"id":"7ca6b914.c472e8","type":"ui_spacer","name":"spacer","group":"52d646af.227228","order":10,"width":"4","height":1},{"id":"b0db1755.36689","type":"ui_spacer","name":"spacer","group":"52d646af.227228","order":4,"width":"3","height":1},{"id":"551f84d0.1cec44","type":"ui_tab","name":"Übersicht","icon":"dashboard","order":1},{"id":"9c8a547c.ca439","type":"ui_group","name":"High Scores","tab":"551f84d0.1cec44","order":2,"disp":true,"width":"17","collapse":false},{"id":"d5de2251.0a1408","type":"ui_group","name":"Tabelle Punkte","tab":"551f84d0.1cec44","order":3,"disp":true,"width":"17","collapse":true},{"id":"b196fe2c.6eb3f","type":"ui_group","name":"Tabelle Beträge","tab":"551f84d0.1cec44","order":5,"disp":true,"width":"17","collapse":true},{"id":"71a01d47.cc5dec","type":"ui_spacer","name":"spacer","group":"","order":2,"width":"3","height":1},{"id":"ebbe3fa0.6b6768","type":"ui_group","name":"Graphs","tab":"c42fab90.8ac0c8","order":4,"disp":false,"width":18,"collapse":false},{"id":"c42fab90.8ac0c8","type":"ui_tab","name":"Charts","icon":"show_chart","order":3},{"id":"6d4ba504.da142c","type":"ui_group","name":"Tabelle Spende","tab":"551f84d0.1cec44","order":4,"disp":true,"width":"17","collapse":true},{"id":"6f78421e.08236c","type":"ui_group","name":"Ramsch","tab":"db42e0bf.c4b188","order":5,"disp":false,"width":"3","collapse":false},{"id":"2c7576ed.2dfeda","type":"ui_group","name":"Spielauftakt","tab":"db42e0bf.c4b188","order":2,"disp":false,"width":"4","collapse":false},{"id":"3e337cf.c94d784","type":"ui_group","name":"Spielchart","tab":"db42e0bf.c4b188","order":8,"disp":false,"width":"7","collapse":false},{"id":"aa8c5dda.faa33","type":"ui_group","name":"Ranking","tab":"db42e0bf.c4b188","order":7,"disp":true,"width":"13","collapse":false},{"id":"87c0c7ba.ab04c8","type":"ui_spacer","name":"spacer","group":"9c8a547c.ca439","order":2,"width":1,"height":1},{"id":"bfe0c3c7.e719d","type":"ui_spacer","name":"spacer","group":"9c8a547c.ca439","order":6,"width":"5","height":"2"},{"id":"fffc9ffe.aefab","type":"ui_tab","name":"Statistik","icon":"dashboard","order":4},{"id":"a6845814.de2ed8","type":"ui_group","name":"Top","tab":"fffc9ffe.aefab","order":1,"disp":false,"width":"20","collapse":false},{"id":"1c3f6f48.a610b1","type":"ui_group","name":"Durchgehend Alleinspieler","tab":"fffc9ffe.aefab","order":5,"disp":true,"width":"20","collapse":true},{"id":"6597cae1.aff0f4","type":"ui_group","name":"Gewinnquote nach Spielart","tab":"fffc9ffe.aefab","order":2,"disp":true,"width":"20","collapse":true},{"id":"faf02eea.a52da","type":"ui_group","name":"Gewinnquote nach Gewinnstufe","tab":"fffc9ffe.aefab","order":3,"disp":true,"width":"20","collapse":true},{"id":"10566cf6.81fd33","type":"ui_group","name":"Gewinnquote nach Spitzen","tab":"fffc9ffe.aefab","order":4,"disp":true,"width":"20","collapse":true},{"id":"5634795d.083438","type":"ui_spacer","z":"340c01ee.e2eb16","name":"spacer","group":"ebbe3fa0.6b6768","order":3,"width":6,"height":1},{"id":"502efcad.46c0e4","type":"function","z":"3f19d1e.b6a0f2e","name":"Reformat dates","func":"var options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };\nvar reformatted = msg.payload.map(\n    function(rec){\n        rec.Datum = new Date(rec.Datum).toLocaleDateString(\"en-US\", options);\n        return rec;\n    }\n    );\nmsg.payload = reformatted;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[[]]},{"id":"86e86af1.f7d528","type":"mysql","z":"4d857192.18663","mydb":"8b5dbf99.c90fd","name":"skat","x":190,"y":80,"wires":[["122a878c.60ad48"]]},{"id":"122a878c.60ad48","type":"function","z":"4d857192.18663","name":"Chart Formatting","func":"// To display a complete chart in one go - for example from a set of points retrieved from a database, \n// the data must be supplied in the form of an array, that holds an object that has series,labels, and data arrays. \n\nvar obj = {\"series\":[], \"data\":[], \"labels\":[]};\nvar xval = 0\nvar last_spiel=0\n\nfor (var rec of msg.payload[0]){ \n\n    // add player to series if not exists\n    var idx = obj.series.indexOf(rec.spieler);\n    if (idx == -1){\n        obj.series.push(rec.spieler);\n        obj.data.push([]);\n        idx = obj.series.indexOf(rec.spieler);\n    }\n    // if the spiel_id changes, increase the x value on the chart\n    if (rec.spiel_id != last_spiel){\n        last_spiel = rec.spiel_id\n        xval+=1\n    }\n    // add running total point to data \n    obj.data[idx].push({\"x\": xval, \"y\": rec.running_total})\n    msg.rec = rec;\n\n}\n\nmsg.topic = undefined;\nmsg.payload = [obj];\nmsg.enabled = true;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[[]]},{"id":"7af10ca.cad67f4","type":"function","z":"f243954b.8c09d8","name":"Intercept?","func":"if (msg.intercept === false || \n    msg.intercept === undefined) {\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":200,"y":40,"wires":[[]]},{"id":"cc52d998.fdecf8","type":"mysql","z":"6c992b35.3a2aa4","mydb":"8b5dbf99.c90fd","name":"mysql","x":110,"y":140,"wires":[["64640f12.475b5"]]},{"id":"2d2a5a00.29fea6","type":"function","z":"6c992b35.3a2aa4","name":"ConvertBufferToString","func":"var bufferToString = msg.payload.map( record =>{\n\n    Object.keys(record).map( column => {\n        if (typeof record[column] === \"object\"){\n            record[column] = record[column].toString();        \n        } \n    }\n    );\n    return record;\n} );\n\nmsg.payload = bufferToString;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["f9ba6063.291ba"]]},{"id":"9135585f.c581a8","type":"change","z":"6c992b35.3a2aa4","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[[]]},{"id":"64640f12.475b5","type":"function","z":"6c992b35.3a2aa4","name":"Get Results","func":"msg.enabled = true;\n\nif (msg.payload.length === 2) {\n    msg.payload = msg.payload[0];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["2d2a5a00.29fea6"]]},{"id":"f9ba6063.291ba","type":"function","z":"6c992b35.3a2aa4","name":"Camel Case","func":"function camelCase(str) { \n            return str \n                .replace(/\\s(.)/g, function(a) { \n                    return a.toUpperCase(); \n                }) \n                .replace(/^(.)/, function(b) { \n                    return b.toUpperCase(); \n                }); \n        }\n\nfunction renameKeys(obj, newKeys) {\n  const keyValues = Object.keys(obj).map(key => {\n    const newKey = newKeys[key] || key;\n    return { [newKey]: obj[key] };\n  });\n  return Object.assign({}, ...keyValues);\n}\n\nvar result = msg.payload.map( obj => {\n\n   var renamedKeys = {};\n   Object.keys(obj).map(key =>{\n       renamedKeys[key] = camelCase(key) ;\n   });\n\n   return renameKeys(obj, renamedKeys);\n\n});\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["9135585f.c581a8"]]},{"id":"8cecc90b.8d7df8","type":"inject","z":"dab61356.33b5b","name":"Boot","repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["e0120e5c.d2779","47ab7e47.55115","76678e12.27db1","8380aef7.70d418","a75a08b7.0b8178","ad326a0a.4f8978","b3099a73.deac4","875b94c.64b1368"]]},{"id":"e0120e5c.d2779","type":"template","z":"dab61356.33b5b","name":"css","field":"css_style","fieldType":"global","format":"css","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n\n}\ntd, th {\n    border: 1px solid;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: darkgreen;\n    color:lightgray;\n}\ntd {\n    text-align: center;\n    background: lightgray;\n}\n\n/* Table Bold */\n.table_bold{\n    width: 100%;\n}\n\n.table_bold th{\n    font-weight: bold;\n}\n\n.table_bold th, .table_bold td {\n    height: 30px;\n}\n\n\n/* Fixed Table Header */\n\n.fixed_header{\n    table-layout: fixed;\n    border-collapse: collapse;\n}\n\n.fixed_header tbody{\n  display:block;\n  overflow: auto;\n}\n\n.fixed_header thead tr {\n  display: block;\n}\n\n.fixed_header thead {\n  background: black;\n}\n\n.fixed_header th, .fixed_header td {\n  padding: 5px;\n  text-align: left;\n}\n\n/* Gewonnen/Verloren */\n.gewonnen {\n    background-color: lightgreen;\n}\n\n.verloren {\n    background-color: lightpink;\n}","x":290,"y":160,"wires":[[]]},{"id":"7e7701a7.c4ded8","type":"link out","z":"dab61356.33b5b","name":"Boot","links":["26a6e9aa.8b729e","cb140a86.a3872","d69b160a.1210d8","52b3cd2bd15e62a0"],"x":415,"y":120,"wires":[]},{"id":"47ab7e47.55115","type":"template","z":"dab61356.33b5b","name":"SQL Reizwerte","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 0 as wert\nunion \nselect distinct wert from spielwerte \norder by wert asc;\n","output":"str","x":320,"y":220,"wires":[["ba74db46.c56b8"]],"icon":"node-red/db.png"},{"id":"ba74db46.c56b8","type":"mysql","z":"dab61356.33b5b","mydb":"8b5dbf99.c90fd","name":"skat","x":510,"y":220,"wires":[["976536d0.2f2d"]]},{"id":"976536d0.2f2d","type":"change","z":"dab61356.33b5b","name":">reizwerte","rules":[{"t":"set","p":"reizwerte","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"76678e12.27db1","type":"template","z":"dab61356.33b5b","name":"SQL Grundspiele","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT grundspiel\nFROM grundspiele\nORDER BY `order` ASC\n;\n\n\n","output":"str","x":330,"y":300,"wires":[["42aa3bd.9c76a44"]],"icon":"node-red/db.png"},{"id":"42aa3bd.9c76a44","type":"mysql","z":"dab61356.33b5b","mydb":"8b5dbf99.c90fd","name":"skat","x":510,"y":300,"wires":[["51c35e74.9f9f"]]},{"id":"8380aef7.70d418","type":"template","z":"dab61356.33b5b","name":"SQL Gewinnstufen","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT gewinnstufe\nFROM gewinnstufen\nORDER BY `order`\n;\n\n\n","output":"str","x":330,"y":400,"wires":[["a06529d9.1ca828"]],"icon":"node-red/db.png"},{"id":"a06529d9.1ca828","type":"mysql","z":"dab61356.33b5b","mydb":"8b5dbf99.c90fd","name":"skat","x":510,"y":400,"wires":[["f8bda72c.41102"]]},{"id":"51c35e74.9f9f","type":"change","z":"dab61356.33b5b","name":">grundspiele","rules":[{"t":"set","p":"grundspiele","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"f8bda72c.41102","type":"change","z":"dab61356.33b5b","name":">gewinnstufen","rules":[{"t":"set","p":"gewinnstufen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[[]]},{"id":"a75a08b7.0b8178","type":"delay","z":"dab61356.33b5b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":120,"wires":[["7e7701a7.c4ded8"]]},{"id":"ad326a0a.4f8978","type":"template","z":"dab61356.33b5b","name":"SQL Spitzen","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select CAST(seq as INT) - 11 as spitze \nfrom seq_0_to_22;","output":"str","x":310,"y":480,"wires":[["6b616183.41019"]],"icon":"node-red/db.png"},{"id":"6b616183.41019","type":"mysql","z":"dab61356.33b5b","mydb":"8b5dbf99.c90fd","name":"skat","x":510,"y":480,"wires":[["d23da008.cfda18"]]},{"id":"d23da008.cfda18","type":"change","z":"dab61356.33b5b","name":">spitzen","rules":[{"t":"set","p":"spitzen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":480,"wires":[[]]},{"id":"b3099a73.deac4","type":"template","z":"dab61356.33b5b","name":"SQL Augen","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select seq as augen \nfrom seq_0_to_120;","output":"str","x":310,"y":540,"wires":[["520e1d65.853d1c"]],"icon":"node-red/db.png"},{"id":"520e1d65.853d1c","type":"mysql","z":"dab61356.33b5b","mydb":"8b5dbf99.c90fd","name":"skat","x":510,"y":540,"wires":[["e5add7d8.1fbe68"]]},{"id":"e5add7d8.1fbe68","type":"change","z":"dab61356.33b5b","name":">augen","rules":[{"t":"set","p":"augen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":540,"wires":[[]]},{"id":"875b94c.64b1368","type":"change","z":"dab61356.33b5b","name":">defaults","rules":[{"t":"set","p":"defaults","pt":"global","to":"{\"augen\":{\"verloren\":45,\"gewonnen\":75,\"schneider\":100,\"null\":0}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":600,"wires":[[]]},{"id":"7c429e8e.aa0c1","type":"template","z":"340c01ee.e2eb16","name":"sp_tabelle_ranking","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_tabelle_ranking({{spielzeit}},0);","output":"str","x":730,"y":320,"wires":[["55394e4a.10c898"]],"icon":"node-red/db.png"},{"id":"55394e4a.10c898","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":930,"y":317,"wires":[["62834009.62fa88"]]},{"id":"62834009.62fa88","type":"change","z":"340c01ee.e2eb16","name":"resultset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":317,"wires":[["1536d659.80885a","b39a5c80.66df4"]]},{"id":"603fa470.3eecdc","type":"ui_template","z":"340c01ee.e2eb16","group":"9c8a547c.ca439","name":"Top Ranking","order":7,"width":"5","height":"3","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1770,"y":320,"wires":[[]]},{"id":"397bfc9b.0dbfe4","type":"change","z":"340c01ee.e2eb16","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":320,"wires":[["603fa470.3eecdc"]]},{"id":"9f043cff.6614c","type":"inject","z":"340c01ee.e2eb16","name":"Manual trigger","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["2eca0554.17b46a"]]},{"id":"b30d3236.3c0b","type":"ui_template","z":"340c01ee.e2eb16","group":"9c8a547c.ca439","name":"Top Beträge","order":8,"width":"5","height":"3","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table>\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1770,"y":380,"wires":[[]]},{"id":"ec226282.d164c","type":"change","z":"340c01ee.e2eb16","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":380,"wires":[["b30d3236.3c0b"]]},{"id":"5fdbc951.70e8d","type":"template","z":"340c01ee.e2eb16","name":"sp_tabelle_serien (punkte)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL `sp_tabelle_serien`({{spielzeit}},\"punkte\"); ","output":"str","x":700,"y":440,"wires":[["ff9f0e1b.ef4dc"]],"icon":"node-red/db.png"},{"id":"ff9f0e1b.ef4dc","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":930,"y":437,"wires":[["f71d0571.5a9df"]]},{"id":"f71d0571.5a9df","type":"change","z":"340c01ee.e2eb16","name":"resultset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":437,"wires":[["2bd379ec.f65a76"]]},{"id":"eb213c07.2c6fe","type":"ui_template","z":"340c01ee.e2eb16","group":"d5de2251.0a1408","name":"Tabelle Punkte","order":2,"width":"17","height":"4","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"fixed_header\">\n<thead>\n        <tr>\n            <th width=\"120px\" ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n        </tr>\n    </thead>\n    <tbody height=\"180px\">\n        <tr ng-repeat=\"obj in msg.payload\">\n            <td width=\"120px\" \n            ng-repeat=\"(key,value) in obj\"\n            ng-class=\"{\n            'gewonnen':'{{key}}' === '{{obj.Sieger}}' \n            }\"\n            >{{value}}</td>\n        </tr>  \n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1780,"y":440,"wires":[[]]},{"id":"2bd379ec.f65a76","type":"change","z":"340c01ee.e2eb16","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":437,"wires":[["40b19c8a.dabb54"]]},{"id":"5de38ce8.028b84","type":"template","z":"340c01ee.e2eb16","name":"sp_tabelle_serien (betrag)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL `sp_tabelle_serien`({{spielzeit}},\"betrag\"); ","output":"str","x":690,"y":500,"wires":[["c4634e9.75f08b"]],"icon":"node-red/db.png"},{"id":"c4634e9.75f08b","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":930,"y":497,"wires":[["a158233e.a847d8"]]},{"id":"a158233e.a847d8","type":"change","z":"340c01ee.e2eb16","name":"resultset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":497,"wires":[["5fb2b88f.6cb3f8"]]},{"id":"5f6ce36b.ac7364","type":"ui_template","z":"340c01ee.e2eb16","group":"b196fe2c.6eb3f","name":"Tabelle Beträge","order":2,"width":"17","height":"4","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table>\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1780,"y":500,"wires":[[]]},{"id":"5fb2b88f.6cb3f8","type":"change","z":"340c01ee.e2eb16","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":497,"wires":[["4189cef.a34ee3"]]},{"id":"441a6682.88c218","type":"inject","z":"340c01ee.e2eb16","name":"Manual trigger","repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":620,"wires":[["2ee8368c.65452a"]]},{"id":"d0ed8c6d.d4eb9","type":"debug","z":"340c01ee.e2eb16","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":40,"wires":[]},{"id":"8ed0a144.d31e","type":"catch","z":"340c01ee.e2eb16","name":"","scope":null,"x":120,"y":40,"wires":[["d0ed8c6d.d4eb9"]]},{"id":"3a1f3d85.c0c582","type":"ui_button","z":"340c01ee.e2eb16","name":"","group":"9c8a547c.ca439","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":440,"wires":[["2eca0554.17b46a"]]},{"id":"14e749a0.3aa17e","type":"ui_chart","z":"340c01ee.e2eb16","name":"","group":"ebbe3fa0.6b6768","order":6,"width":18,"height":11,"label":"","chartType":"line","legend":"true","xformat":".","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#990099","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1770,"y":700,"wires":[[]]},{"id":"cb140a86.a3872","type":"link in","z":"340c01ee.e2eb16","name":"Übersicht recalc","links":["7e7701a7.c4ded8","e7d592d9.bc65c","2ce76d12498ea4d4"],"x":135,"y":380,"wires":[["2eca0554.17b46a"]]},{"id":"2b5a4fec.284d5","type":"subflow:3f19d1e.b6a0f2e","z":"340c01ee.e2eb16","name":"","x":1580,"y":440,"wires":[["eb213c07.2c6fe"]]},{"id":"4189cef.a34ee3","type":"subflow:3f19d1e.b6a0f2e","z":"340c01ee.e2eb16","name":"","x":1580,"y":500,"wires":[["5f6ce36b.ac7364"]]},{"id":"517bed7c.35c5b4","type":"debug","z":"340c01ee.e2eb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1650,"y":880,"wires":[]},{"id":"5a6538e8.9d5cb8","type":"subflow:4d857192.18663","z":"340c01ee.e2eb16","name":"Get Chart Data","env":[],"x":1580,"y":620,"wires":[["8817caf4.e9e908"]]},{"id":"277d2ce.c1bebd4","type":"function","z":"340c01ee.e2eb16","name":"Read min, max","func":"var sql = \n'select min(se.id) as min, max(se.id) as max ' +\n'from serien se ' +\n'where se.spielzeit = ' + msg.spielzeit + \n' or 0=' + msg.spielzeit +\n';'\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["7e644ae4.ef3024"]],"icon":"node-red/db.svg"},{"id":"758bd128.8260a","type":"template","z":"340c01ee.e2eb16","name":"sp_tabelle_serien (payout)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL `sp_tabelle_serien`({{spielzeit}},\"payout\"); ","output":"str","x":700,"y":540,"wires":[["79e9823d.feb12c"]],"icon":"node-red/db.png"},{"id":"79e9823d.feb12c","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":930,"y":537,"wires":[["7a9af622.1edbf8"]]},{"id":"7a9af622.1edbf8","type":"change","z":"340c01ee.e2eb16","name":"resultset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":537,"wires":[["6804c0c1.3873a"]]},{"id":"72ce0ee8.71276","type":"ui_template","z":"340c01ee.e2eb16","group":"6d4ba504.da142c","name":"Tabelle Spende","order":2,"width":"17","height":"4","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table>\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1780,"y":540,"wires":[[]]},{"id":"6804c0c1.3873a","type":"change","z":"340c01ee.e2eb16","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":537,"wires":[["f819cbc5.adf768"]]},{"id":"f819cbc5.adf768","type":"subflow:3f19d1e.b6a0f2e","z":"340c01ee.e2eb16","name":"","env":[],"x":1580,"y":540,"wires":[["72ce0ee8.71276"]]},{"id":"e897f19a.dc831","type":"ui_dropdown","z":"340c01ee.e2eb16","name":"","label":"Show","tooltip":"","place":"Spielzeit","group":"9c8a547c.ca439","order":3,"width":"7","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1590,"y":220,"wires":[["935f7a53.10c9a8"]]},{"id":"7a36cb6a.754934","type":"function","z":"340c01ee.e2eb16","name":"Set Options","func":"// reformat options read from db\nmsg.options = msg.payload.map(item => {\n const option = {};\n \n option[item.description] = item.id;\n \n return option;\n    \n})\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[["1944a344.070fad"]]},{"id":"c47ac33f.9b8aa","type":"template","z":"340c01ee.e2eb16","name":"spielzeiten","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT main.id, main.description from \n(\nselect 0 as id, 'Alle' as description, 999 as rnk \nunion \nselect id, description, id as rnk from spielzeiten\n) As main\norder by main.rnk desc\n;","output":"str","x":700,"y":260,"wires":[["ec96f252.9ca5a"]],"icon":"node-red/db.svg"},{"id":"ec96f252.9ca5a","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":920,"y":260,"wires":[["7a36cb6a.754934"]]},{"id":"16e1a6ab.df5879","type":"inject","z":"340c01ee.e2eb16","name":"Manual trigger","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["c47ac33f.9b8aa"]]},{"id":"935f7a53.10c9a8","type":"function","z":"340c01ee.e2eb16","name":"Set Spielzeit","func":"// reformat options read from db\nglobal.set(\"spielzeit\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":260,"wires":[["e7d592d9.bc65c"]]},{"id":"1944a344.070fad","type":"function","z":"340c01ee.e2eb16","name":"Set Default","func":"if (typeof global.get(\"spielzeit\") === 'undefined'){\n    global.set(\"spielzeit\", 0);\n}\n\nmsg.payload = global.get(\"spielzeit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":260,"wires":[["e897f19a.dc831","4190334b.d0a3ac","c1527654.531628"]]},{"id":"2eca0554.17b46a","type":"function","z":"340c01ee.e2eb16","name":"Get Spielzeit","func":"msg.spielzeit = global.get(\"spielzeit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["277d2ce.c1bebd4","7c429e8e.aa0c1","c47ac33f.9b8aa","e5af6c55.08efc","3c1498f9.2dfdf8","12f59b17.cc3045"]]},{"id":"e7d592d9.bc65c","type":"link out","z":"340c01ee.e2eb16","name":"Spielzeit chosen","links":["cb140a86.a3872","d69b160a.1210d8","52b3cd2bd15e62a0"],"x":1955,"y":260,"wires":[]},{"id":"54e493a6.19d98c","type":"function","z":"340c01ee.e2eb16","name":"sp_spieler_chart_series","func":"\nvar sql = \"CALL `sp_spieler_chart_series`( $min, $max, 'Alle');\"\nsql = sql.replace(\"$min\", String(msg.payload[0].min));\nsql = sql.replace(\"$max\", String(msg.payload[0].max));\n\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":620,"wires":[["5a6538e8.9d5cb8"]]},{"id":"7e644ae4.ef3024","type":"mysql","z":"340c01ee.e2eb16","mydb":"8b5dbf99.c90fd","name":"skat","x":930,"y":620,"wires":[["54e493a6.19d98c","6e67d1f02f2c3cf7"]]},{"id":"2ee8368c.65452a","type":"function","z":"340c01ee.e2eb16","name":"Get Spielzeit","func":"msg.spielzeit = global.get(\"spielzeit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["277d2ce.c1bebd4"]]},{"id":"4190334b.d0a3ac","type":"ui_dropdown","z":"340c01ee.e2eb16","name":"","label":"Saison","tooltip":"","place":"Spielzeit","group":"ebbe3fa0.6b6768","order":2,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":1590,"y":180,"wires":[["935f7a53.10c9a8"]]},{"id":"8817caf4.e9e908","type":"ui_chart","z":"340c01ee.e2eb16","name":"","group":"9c8a547c.ca439","order":4,"width":"11","height":"6","label":"","chartType":"line","legend":"true","xformat":".","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#990099","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1770,"y":620,"wires":[[]]},{"id":"ca4d11da.e7d1d","type":"debug","z":"340c01ee.e2eb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":60,"wires":[]},{"id":"e5af6c55.08efc","type":"delay","z":"340c01ee.e2eb16","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":440,"wires":[["5fdbc951.70e8d"]]},{"id":"3c1498f9.2dfdf8","type":"delay","z":"340c01ee.e2eb16","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":480,"wires":[["5de38ce8.028b84"]]},{"id":"12f59b17.cc3045","type":"delay","z":"340c01ee.e2eb16","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":520,"wires":[["758bd128.8260a"]]},{"id":"40b19c8a.dabb54","type":"function","z":"340c01ee.e2eb16","name":"get spieler array","func":"var serie = global.get(\"serie\");\n\nvar getWinner = function(liste){\n    players=[\n        {spieler:serie.spieler1, punkte:liste[serie.spieler1]},\n        {spieler:serie.spieler2, punkte:liste[serie.spieler2]},\n        {spieler:serie.spieler3, punkte:liste[serie.spieler3]}\n        ];\n    var winner = players.reduce(function (prv, curr){\n        var result;\n        if (prv.punkte < curr.punkte){\n            result = curr;\n        } else\n        {\n            result = prv;\n        }\n        return result;\n    });\n    liste.Sieger = winner.spieler;\n    return liste;\n}\n\nmsg.payload = msg.payload.map(getWinner);\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":440,"wires":[["2b5a4fec.284d5"]]},{"id":"1536d659.80885a","type":"function","z":"340c01ee.e2eb16","name":"pick columns","func":"var result = msg.payload.map( record =>{\n\n    var new_record = Object.keys(record).map( column => {\n        if (![\"Rang\",\"Spieler\",\"Payout\"].includes(column)){\n            delete record[column];\n        }\n    }\n    );\n\n} )\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":380,"wires":[["ec226282.d164c"]]},{"id":"b39a5c80.66df4","type":"function","z":"340c01ee.e2eb16","name":"pick columns","func":"var result = msg.payload.map( record =>{\n\n    var new_record = Object.keys(record).map( column => {\n        if (![\"Rang\",\"Spieler\",\"Punkte\",\"Spiele\",\"Quote\"].includes(column)){\n            delete record[column];\n        }\n    }\n    );\n\n} )\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":320,"wires":[["397bfc9b.0dbfe4"]]},{"id":"c1527654.531628","type":"ui_dropdown","z":"340c01ee.e2eb16","name":"","label":"Show","tooltip":"","place":"Spielzeit","group":"a6845814.de2ed8","order":3,"width":"7","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1590,"y":260,"wires":[["935f7a53.10c9a8"]]},{"id":"3ca08e899b8678b5","type":"ui_dropdown","z":"340c01ee.e2eb16","name":"","label":"Bockspiele","tooltip":"","place":"Select option","group":"ebbe3fa0.6b6768","order":5,"width":3,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Egal","value":"Alle","type":"str"},{"label":"Keine","value":"","type":"str"},{"label":"Nur","value":"X","type":"str"}],"payload":"","topic":"","topicType":"str","x":1610,"y":120,"wires":[["cc99b1a1e0b8924d"]]},{"id":"1aeba9c07061d9bd","type":"function","z":"340c01ee.e2eb16","name":"sp_spieler_chart_series","func":"\nvar sql = \"CALL `sp_spieler_chart_series`( $min, $max, '$bock');\"\nsql = sql.replace(\"$min\", String(msg.payload[0].min));\nsql = sql.replace(\"$max\", String(msg.payload[0].max));\nsql = sql.replace(\"$bock\", String(msg.filter_bockspiele));\n\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":700,"wires":[["de30921424e38909"]]},{"id":"80a34e2d6207573e","type":"ui_button","z":"340c01ee.e2eb16","name":"Refresh","group":"ebbe3fa0.6b6768","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"date","topic":"","topicType":"str","x":100,"y":480,"wires":[["2eca0554.17b46a"]]},{"id":"57034690ba239f52","type":"inject","z":"340c01ee.e2eb16","name":"Manual trigger","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[[]]},{"id":"2ce76d12498ea4d4","type":"link out","z":"340c01ee.e2eb16","name":"Filter chosen","links":["cb140a86.a3872"],"x":1965,"y":120,"wires":[]},{"id":"6e67d1f02f2c3cf7","type":"function","z":"340c01ee.e2eb16","name":"get_filter_bockspiele","func":"msg.filter_bockspiele = global.get(\"filter_bockspiele\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":700,"wires":[["1aeba9c07061d9bd"]]},{"id":"cc99b1a1e0b8924d","type":"function","z":"340c01ee.e2eb16","name":"Set Filter Bockspiele","func":"if (msg.payload === undefined) {\n    global.set(\"filter_bockspiele\", \"\");    \n} else\n{\n    global.set(\"filter_bockspiele\", msg.payload);    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":120,"wires":[["2ce76d12498ea4d4"]]},{"id":"de30921424e38909","type":"subflow:4d857192.18663","z":"340c01ee.e2eb16","name":"Get Chart Data","env":[],"x":1600,"y":700,"wires":[["14e749a0.3aa17e"]]},{"id":"b30a14c.985d968","type":"ui_text_input","z":"18e32c36.87e98c","name":"Einsatz","label":"Einsatz (Cents)","tooltip":"","group":"52d646af.227228","order":8,"width":"3","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1120,"y":860,"wires":[["9fcfcd.0832803"]]},{"id":"6e00be9d.0fa71","type":"ui_text_input","z":"18e32c36.87e98c","name":"Max Loss","label":"Max Loss (Dollar)","tooltip":"","group":"52d646af.227228","order":9,"width":"3","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1120,"y":900,"wires":[["e3e7eda0.e329e"]]},{"id":"b12e32c0.9a8b1","type":"ui_dropdown","z":"18e32c36.87e98c","name":"Spieler 1","label":"Spieler 1","tooltip":"","place":"Wähle","group":"52d646af.227228","order":11,"width":"4","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1120,"y":720,"wires":[["c0f64e31.7f9f"]]},{"id":"9d84421c.67527","type":"ui_button","z":"18e32c36.87e98c","name":"Abschliessen","group":"52d646af.227228","order":3,"width":"3","height":"1","passthru":false,"label":"Abschliessen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Abgeschlossen","payloadType":"str","topic":"","x":1130,"y":960,"wires":[["a30d92b1.d033b"]]},{"id":"d559e712.df0ec8","type":"ui_date_picker","z":"18e32c36.87e98c","name":"","label":"Datum","group":"52d646af.227228","order":7,"width":"6","height":"1","passthru":false,"topic":"","x":1110,"y":580,"wires":[["76031143.b3ac4"]]},{"id":"84e6402e.607af","type":"ui_text","z":"18e32c36.87e98c","group":"52d646af.227228","order":5,"width":"2","height":"1","name":"Spielliste","label":"Liste","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":620,"wires":[]},{"id":"42a18217.2a4a1c","type":"ui_dropdown","z":"18e32c36.87e98c","name":"Spieler 2","label":"Spieler 2","tooltip":"","place":"Wähle","group":"52d646af.227228","order":12,"width":"4","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1120,"y":760,"wires":[["5aac9585.20444c"]]},{"id":"11bb12a8.d7d41d","type":"ui_dropdown","z":"18e32c36.87e98c","name":"Spieler 3","label":"Spieler 3","tooltip":"","place":"Wähle","group":"52d646af.227228","order":13,"width":"4","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1120,"y":800,"wires":[["54d4cd91.c50bf4"]]},{"id":"dbbdf0e1.5c935","type":"ui_text","z":"18e32c36.87e98c","group":"52d646af.227228","order":6,"width":"2","height":"1","name":"Spiele","label":"Spiele","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":660,"wires":[]},{"id":"c00de378.29f3c","type":"ui_dropdown","z":"18e32c36.87e98c","name":"Spielliste Combo","label":"","tooltip":"","place":"Wähle Spielliste","group":"52d646af.227228","order":1,"width":"12","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":350,"y":320,"wires":[["b624b251.e99f6"]]},{"id":"7784aeae.02736","type":"mysql","z":"18e32c36.87e98c","mydb":"8b5dbf99.c90fd","name":"skat","x":306.24999237060547,"y":157.49999809265137,"wires":[["86a48724.16a288","4040165d.cb2a28"]]},{"id":"1a1320ae.660d6f","type":"template","z":"18e32c36.87e98c","name":"vw_serien","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT  \nid, \nCONCAT( \nDATE_FORMAT(datum, '%Y-%b-%d') \n, ' | ', serie \n, ' | ', status \n, ' | ', spiele \n, ' Spiele' \n) As label \nFROM vw_serien \nORDER BY id DESC \n;","output":"str","x":180,"y":160,"wires":[["7784aeae.02736"]],"icon":"node-red/db.svg"},{"id":"8634466.9ea1cb8","type":"debug","z":"18e32c36.87e98c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":20,"wires":[]},{"id":"8ec3c2c4.3a69","type":"template","z":"18e32c36.87e98c","name":"vw_serien","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*, \n(SELECT CONCAT('[',GROUP_CONCAT('\\\"',nick,'\\\"'),']') FROM spieler) as spieleropt\nFROM vw_serien\nWHERE id = {{serien_id}}\n;","output":"str","x":400,"y":720,"wires":[["888ae407.ea77c8"]],"icon":"node-red/db.svg"},{"id":"888ae407.ea77c8","type":"mysql","z":"18e32c36.87e98c","mydb":"8b5dbf99.c90fd","name":"skat","x":546.2499923706055,"y":717.4999980926514,"wires":[["f7020769.ddcf38"]]},{"id":"c759b484.9bbca8","type":"function","z":"18e32c36.87e98c","name":"","func":"var serie_enabled = (msg.payload[0].status == 'Offen');\n\nvar msg_template = {}; \nmsg_template.enabled = serie_enabled;\n\nvar msg_status = JSON.parse(JSON.stringify(msg_template));\nvar msg_einsatz = JSON.parse(JSON.stringify(msg_template)); msg_einsatz.payload = msg.payload[0].einsatz;\nvar msg_max_loss =JSON.parse(JSON.stringify(msg_template)); msg_max_loss.payload = msg.payload[0].max_loss;\n\nvar msg_datum =JSON.parse(JSON.stringify(msg_template)); msg_datum.payload = msg.payload[0].datum;\nvar msg_serie = JSON.parse(JSON.stringify(msg_template)); msg_serie.payload = msg.payload[0].serie;\nvar msg_spiele = JSON.parse(JSON.stringify(msg_template)); msg_spiele.payload = msg.payload[0].spiele;\n\nvar spieler = JSON.parse(msg.payload[0].spieleropt);\nmsg_template.options = spieler;\nvar msg_spieler1 = JSON.parse(JSON.stringify(msg_template)); msg_spieler1.payload = msg.payload[0].spieler1;\nvar msg_spieler2 = JSON.parse(JSON.stringify(msg_template)); msg_spieler2.payload = msg.payload[0].spieler2;\nvar msg_spieler3 = JSON.parse(JSON.stringify(msg_template)); msg_spieler3.payload = msg.payload[0].spieler3;\n\nreturn [msg_datum,\n\t\tmsg_serie,\n\t\tmsg_spiele,\n\t\tmsg_spieler1,\n\t\tmsg_spieler2,\n\t\tmsg_spieler3,\n\t\tmsg_einsatz,\n\t\tmsg_max_loss,\n\t\tmsg_status];","outputs":9,"noerr":0,"x":930,"y":800,"wires":[["d559e712.df0ec8"],["84e6402e.607af"],["dbbdf0e1.5c935"],["b12e32c0.9a8b1"],["42a18217.2a4a1c"],["11bb12a8.d7d41d"],["b30a14c.985d968"],["6e00be9d.0fa71"],["9d84421c.67527"]],"inputLabels":["Record"],"outputLabels":["Datum","Liste","Spiele","Spieler 1","Spieler 2","Spieler 3","Einsatz","Max Loss","Status"]},{"id":"472b4b8d.92f964","type":"template","z":"18e32c36.87e98c","name":"Insert New Serie if selected","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO serien (id)\nSELECT cmb.* FROM \n(SELECT {{serien_id}} as id) cmb\nLEFT JOIN serien\non serien.id = cmb.id\nWHERE serien.id is null","output":"str","x":360,"y":420,"wires":[["c0ea306e.ded1a"]],"icon":"node-red/db.svg"},{"id":"c0ea306e.ded1a","type":"mysql","z":"18e32c36.87e98c","mydb":"8b5dbf99.c90fd","name":"skat","x":570,"y":420,"wires":[["34a478f3.0dcdb8","8a5effd8.306f7","231fa468.1136cc"]]},{"id":"34a478f3.0dcdb8","type":"switch","z":"18e32c36.87e98c","name":"Check: new series?","property":"payload.affectedRows","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":420,"wires":[["138b5d15.5d4d9b"]],"outputLabels":["yes"]},{"id":"2d36165b.0acbaa","type":"catch","z":"18e32c36.87e98c","name":"","scope":null,"x":80,"y":20,"wires":[["8634466.9ea1cb8"]]},{"id":"67726fe7.3fd4","type":"template","z":"18e32c36.87e98c","name":"UPDATE serien","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE serien \nSet {{field}} = '{{payload}}' \nWHERE id = {{serien_id}} \n;","output":"str","x":1823.7500076293945,"y":882.5000019073486,"wires":[["ef07d4ec.a34428","f6200fff.c8df1"]]},{"id":"ef07d4ec.a34428","type":"mysql","z":"18e32c36.87e98c","mydb":"8b5dbf99.c90fd","name":"skat","x":1993.7500076293945,"y":882.5000019073486,"wires":[["34a478f3.0dcdb8"]]},{"id":"4f01946f.ee25dc","type":"change","z":"18e32c36.87e98c","name":"Get Serien ID","rules":[{"t":"set","p":"serien_id","pt":"msg","to":"serie.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1643.7500076293945,"y":582.5000019073486,"wires":[["67726fe7.3fd4","21b0a225.3f7d7e"]]},{"id":"c0f64e31.7f9f","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"spieler1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":720,"wires":[["4f01946f.ee25dc"]]},{"id":"5aac9585.20444c","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"spieler2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":760,"wires":[["4f01946f.ee25dc"]]},{"id":"54d4cd91.c50bf4","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"spieler3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":800,"wires":[["4f01946f.ee25dc"]]},{"id":"9fcfcd.0832803","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"einsatz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":860,"wires":[["4f01946f.ee25dc"]]},{"id":"e3e7eda0.e329e","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"max_loss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":900,"wires":[["4f01946f.ee25dc"]]},{"id":"a30d92b1.d033b","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":960,"wires":[["4f01946f.ee25dc"]]},{"id":"76031143.b3ac4","type":"change","z":"18e32c36.87e98c","name":"Set Field","rules":[{"t":"set","p":"field","pt":"msg","to":"datum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":580,"wires":[["2d44af11.90a86"]]},{"id":"bff9e8bf.f1f18","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":680,"wires":[]},{"id":"26a6e9aa.8b729e","type":"link in","z":"18e32c36.87e98c","name":"Refresh Spiellisten","links":["dd54228c.f0717","7e7701a7.c4ded8","138b5d15.5d4d9b"],"x":215,"y":100,"wires":[["1a1320ae.660d6f"]]},{"id":"370f5520.f7f41a","type":"ui_button","z":"18e32c36.87e98c","name":"","group":"52d646af.227228","order":2,"width":"2","height":"1","passthru":true,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":340,"y":100,"wires":[["1a1320ae.660d6f"]]},{"id":"86a48724.16a288","type":"function","z":"18e32c36.87e98c","name":"Set Combo Drop Down","func":"delete msg.topic;\n\n// Convert to label format for the ComboBox\nmsg.options = msg.payload.map(item => {\n const option = {};\n \n option[item.label] = item.id;\n \n return option;\n    \n})\n\n// add New item\nconst newitem = { \"New\": Object.values(msg.options[0])[0] + 1};\nmsg.options.unshift(newitem);\n\n// get the latest series\nmsg.payload = ( Object.values(newitem)[0] -1 );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":366.24999237060547,"y":237.49999809265137,"wires":[["c00de378.29f3c","1b39026.44edcfe"]]},{"id":"bdacf610.c0c778","type":"delay","z":"18e32c36.87e98c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":720,"wires":[["8ec3c2c4.3a69"]]},{"id":"138b5d15.5d4d9b","type":"link out","z":"18e32c36.87e98c","name":"User created new Serie","links":["26a6e9aa.8b729e"],"x":2295,"y":420,"wires":[]},{"id":"f6200fff.c8df1","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1973.7500076293945,"y":782.5000019073486,"wires":[]},{"id":"2d44af11.90a86","type":"function","z":"18e32c36.87e98c","name":"Convert Date","func":"var date = new Date(msg.payload);\nvar new_dt_str = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 ))\n                    .toISOString()\n                    .split(\"T\")[0];\nmsg.payload = new_dt_str;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":580,"wires":[["4f01946f.ee25dc"]]},{"id":"4040165d.cb2a28","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":586.2499923706055,"y":157.49999809265137,"wires":[]},{"id":"21b0a225.3f7d7e","type":"template","z":"18e32c36.87e98c","name":"sp_stats_refresh","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_refresh({{global.spielzeit}});","output":"str","x":1863.7500076293945,"y":602.5000019073486,"wires":[["ae6302e1.346f5"]]},{"id":"ae6302e1.346f5","type":"mysql","z":"18e32c36.87e98c","mydb":"8b5dbf99.c90fd","name":"skat","x":2053.7500076293945,"y":602.5000019073486,"wires":[[]]},{"id":"6ae89eaf.16d46","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":320,"wires":[]},{"id":"1b39026.44edcfe","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":586.2499923706055,"y":237.49999809265137,"wires":[]},{"id":"f7020769.ddcf38","type":"function","z":"18e32c36.87e98c","name":"> global.serie","func":"if (msg.payload.length > 0){\n\n    var serie = msg.payload[0];\n    msg.serie = serie;\n    \n    global.set(\"serie\", msg.serie);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":720,"wires":[["c759b484.9bbca8","bff9e8bf.f1f18","7e98ea92.45ecb4"]]},{"id":"b624b251.e99f6","type":"function","z":"18e32c36.87e98c","name":"payload > msg.serien_id","func":"msg.serien_id = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["6ae89eaf.16d46","472b4b8d.92f964"]]},{"id":"8a5effd8.306f7","type":"switch","z":"18e32c36.87e98c","name":"Check: no new series","property":"payload.affectedRows","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":560,"wires":[["bdacf610.c0c778"]],"outputLabels":["yes"]},{"id":"7e98ea92.45ecb4","type":"link out","z":"18e32c36.87e98c","name":"Global.Serie was set","links":["f6f11481.52e918"],"x":900,"y":980,"wires":[]},{"id":"231fa468.1136cc","type":"debug","z":"18e32c36.87e98c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":460,"wires":[]},{"id":"1e456068.57361","type":"template","z":"9c631078.7c4b3","name":"sp_tabelle_spielliste","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_tabelle_spielliste({{global.serie.id}});\n","output":"str","x":647.9999847412109,"y":1639.9999523162842,"wires":[["92823299.b24b"]],"icon":"node-red/db.png"},{"id":"510553db.a229fc","type":"debug","z":"9c631078.7c4b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":40,"wires":[]},{"id":"22722ed0.f55512","type":"catch","z":"9c631078.7c4b3","name":"","scope":null,"x":230,"y":40,"wires":[["510553db.a229fc"]]},{"id":"d34a4968.1ef178","type":"ui_template","z":"9c631078.7c4b3","group":"12c40284.9ad24d","name":"Punkteblatt","order":3,"width":"20","height":"7","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"fixed_header\">\n    <thead>\n        <tr>\n            <th width=\"70px\" ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n        </tr>\n    </thead>\n    <tbody height=\"350px\">\n        <tr ng-repeat=\"obj in msg.payload\">\n            <td width=\"70px\"\n            ng-repeat=\"(key,value) in obj\"\n            ng-class=\"{\n            'verloren':'{{obj['Status']}}' === 'V'\n            }\"\n            >{{value}}</td>\n        </tr>  \n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1630,"y":1640,"wires":[[]]},{"id":"f6f11481.52e918","type":"link in","z":"9c631078.7c4b3","name":"After Global.Serie was set","links":["7e98ea92.45ecb4"],"x":155,"y":260,"wires":[["e1b9ef47.89d928"]]},{"id":"83899cdc.aebb1","type":"change","z":"9c631078.7c4b3","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247.999984741211,"y":1639.9999523162842,"wires":[["b2787f22.1a45f"]]},{"id":"5a4082e3.fc67ac","type":"template","z":"9c631078.7c4b3","name":"sp_tabelle_ranking","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_tabelle_ranking(0,{{global.serie.id}});\n","output":"str","x":637.9999847412109,"y":1579.9999523162842,"wires":[["6cc71d87.8f8d64"]],"icon":"node-red/db.png"},{"id":"6cc71d87.8f8d64","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":937.9999847412109,"y":1576.9999523162842,"wires":[["74ac1684.e27958"]]},{"id":"74ac1684.e27958","type":"change","z":"9c631078.7c4b3","name":"resultset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1087.999984741211,"y":1576.9999523162842,"wires":[["3bb14329.e639cc"]]},{"id":"db8df787.f25358","type":"ui_template","z":"9c631078.7c4b3","group":"aa8c5dda.faa33","name":"Ranking","order":1,"width":"13","height":"3","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1600,"y":1580,"wires":[[]]},{"id":"3bb14329.e639cc","type":"change","z":"9c631078.7c4b3","name":"get css","rules":[{"t":"set","p":"css_style","pt":"msg","to":"css_style","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247.999984741211,"y":1576.9999523162842,"wires":[["78625f99.5cc4f"]]},{"id":"8cf94acb.01b9e8","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Spielnummer","label":"Spiel Nr","tooltip":"","place":"Wähle","group":"2c7576ed.2dfeda","order":3,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1190,"y":80,"wires":[["2312591.5b63326"]]},{"id":"28baf8cc.ad0038","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Grundspiel","label":"","tooltip":"","place":"Grundspiel","group":"812c1947.8e3e78","order":5,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic?","x":1150,"y":160,"wires":[["206f4742.2279a8"]]},{"id":"6747aa53.e556e4","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Gewinnstufe","label":"","tooltip":"Gewinnstufe","place":"Gewinnstufe","group":"812c1947.8e3e78","order":8,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1150,"y":240,"wires":[["d6515b4b.6f9a58"]]},{"id":"bd9c8922.f14648","type":"ui_switch","z":"9c631078.7c4b3","name":"Kontra","label":"Kontra","tooltip":"","group":"eefaa3f4.6d845","order":9,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-lg","oncolor":"#669933","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-lg","offcolor":"#CC0000","x":1130,"y":700,"wires":[["ce3a92ab.2206b"]]},{"id":"2c82efa9.b85e2","type":"ui_switch","z":"9c631078.7c4b3","name":"Re","label":"Re","tooltip":"","group":"eefaa3f4.6d845","order":10,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-lg","oncolor":"#669933","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-lg","offcolor":"#CC0000","x":1130,"y":780,"wires":[["b282a267.146c98"]]},{"id":"e11b3f01.c89a7","type":"ui_switch","z":"9c631078.7c4b3","name":"Bock","label":"{{msg.label}}","tooltip":"","group":"eefaa3f4.6d845","order":10,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-lg","oncolor":"#669933","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-lg","offcolor":"#CC0000","x":1130,"y":637,"wires":[["dd3574fa.51cd58"]]},{"id":"b6f6a35c.7d187","type":"ui_button","z":"9c631078.7c4b3","name":"Spieler1","group":"812c1947.8e3e78","order":2,"width":"3","height":"1","passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"spieler1","payloadType":"str","topic":"","x":1140,"y":840,"wires":[["2df9c78.d7520b8"]]},{"id":"fc17c781.c94828","type":"ui_button","z":"9c631078.7c4b3","name":"Spieler2","group":"812c1947.8e3e78","order":3,"width":"3","height":"1","passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"spieler2","payloadType":"str","topic":"","x":1140,"y":880,"wires":[["2df9c78.d7520b8"]]},{"id":"a8324d3.8990eb","type":"ui_button","z":"9c631078.7c4b3","name":"Spieler3","group":"812c1947.8e3e78","order":4,"width":"3","height":"1","passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"spieler3","payloadType":"str","topic":"","x":1140,"y":920,"wires":[["2df9c78.d7520b8"]]},{"id":"383d412c.b2bba6","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\n\nmsg.enabled = true; // enable dropdown for spielnummer combo\n\n// Create drop-down for all spiele in serie\nmsg.options = msg.payload.map(item => {\n    const opt = {};\n    opt[item.spielnummer] = item.spielnummer;\n    return opt;\n    });\n\n// Sort descending\nmsg.options.sort((a,b) => {\n    return (Object.values(b)[0] - Object.values(a)[0]);\n})\n\n\n// Add \"New\" entry if the serie is still open\nif (global.get(\"serie\").status == 'Offen') {\n    msg.options.unshift({\"New\":0});        \n}\n\n// Set widget to flow memory\nmsg.payload = flow.get(\"spiel.spielnummer\");\n\nreturn [{\"payload\":null},msg];","outputs":2,"noerr":0,"x":960,"y":80,"wires":[[],["922c84f7.f4c34","1bbb742b.166b3c"]]},{"id":"daa0e92.a9f6d18","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.options = global.get(\"grundspiele\").map(a => a.grundspiel);\nmsg.payload = flow.get(\"spiel\").grundspiel || null;\nreturn [{\"payload\":null},msg];\n","outputs":2,"noerr":0,"x":960,"y":160,"wires":[[],["fe2fa64.49aab58"]]},{"id":"c757c08a.854198","type":"function","z":"9c631078.7c4b3","name":"Preparations","func":"\nmsg.topic = undefined;\nmsg.payload = {};\n\n// Serie has to be offen to enable any widget\nmsg.enabled = (global.get(\"serie\").status == 'Offen');\n\n// Calculate player number who has to deal\nglobal.set(\"serie.dealer\",  (global.get(\"serie\").spiele % 3) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["5a4082e3.fc67ac","a2f241f4.f5f7e8","8ba4ee34.cf7c7","8ef70e2c.492ed","5450a099.9e5e4","a473f077.36319","f21b4e6e.7838b8","e1927dd8.4af8e8","daa0e92.a9f6d18","961be0b3.601bc8","9aa7d191.c22868","2ebb7e1c.93b68a","eb0cf4e8.321128","b6ab7e3b.70566","1e456068.57361","9ac90f5e.a562f","b20b58c0.03f7e8","645f7c47.446414"]]},{"id":"e1927dd8.4af8e8","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.options = global.get(\"gewinnstufen\").map(a => a.gewinnstufe);\nif (typeof flow.get(\"spiel.gewinnstufe\") === 'undefined'){\n    flow.set(\"spiel.gewinnstufe\",'Einfach');\n}\nmsg.payload = flow.get(\"spiel.gewinnstufe\");\n\nreturn [{\"payload\":''},msg];\n","outputs":2,"noerr":0,"x":960,"y":240,"wires":[[],["42661960.f9cf88"]]},{"id":"8191bb1e.c49e3","type":"template","z":"9c631078.7c4b3","name":"spiele","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*, \n(SELECT  \ncase \nwhen spieler1 = s.spieler then 'spieler1' \nwhen spieler2 = s.spieler then 'spieler2' \nwhen spieler3 = s.spieler then 'spieler3' \nend As spielernummer \nFROM serien where id = s.serie_id \nLIMIT 1 \n) As spielernummer \nFROM spiele s  \nwhere s.serie_id = {{global.serie.id}}  \nand s.spielnummer = {{flow.spiel.spielnummer}}  \n; \n \n\n","output":"str","x":170,"y":360,"wires":[["fd7bcb36.956ed"]],"icon":"node-red/db.png"},{"id":"fd7bcb36.956ed","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":310,"y":360,"wires":[["3da4a71b.82f02"]]},{"id":"a2f241f4.f5f7e8","type":"function","z":"9c631078.7c4b3","name":"setSpielerBackground","func":"// Prepare a message for each spieler\nmsg.payload = 0;\nmsg.background = undefined;\n\nvar msg1 = JSON.parse(JSON.stringify(msg));\nvar msg2 = JSON.parse(JSON.stringify(msg));\nvar msg3 = JSON.parse(JSON.stringify(msg));\n\n// Read the current states\nvar spiel = flow.get(\"spiel\");\nvar serie = global.get(\"serie\");\n\n// Set color for dealer when new spiel has to be dealt\nvar dealercolor = 'blue'; \nif (spiel.spielernummer === undefined){\n    switch (serie.dealer){\n        case 1: msg1.background = dealercolor; break;\n        case 2: msg2.background = dealercolor; break;\n        case 3: msg3.background = dealercolor; break;\n    }\n}\n\n// Set color when spieler has been declared\nvar background_color;\nif (spiel.status == 'G'){\n    background_color = \"green\";\n} else\nif (spiel.status == 'V'){\n    background_color = \"red\";\n} \n\nmsg1.label = serie.spieler1;\nmsg2.label = serie.spieler2;\nmsg3.label = serie.spieler3;\n\nswitch (spiel.spielernummer) {\n    case  \"spieler1\": msg1.background = background_color; break;\n    case  \"spieler2\": msg2.background = background_color; break;\n    case  \"spieler3\": msg3.background = background_color; break;\n}\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":935.0000152587891,"y":880.0000133514404,"wires":[["b6f6a35c.7d187"],["fc17c781.c94828"],["a8324d3.8990eb"]]},{"id":"e1c3f7c2.5d6a58","type":"ui_switch","z":"9c631078.7c4b3","name":"Gewonnen?","label":"Gewonnen?","tooltip":"","group":"812c1947.8e3e78","order":9,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"G","onvalueType":"str","onicon":"fa-toggle-on fa-2x","oncolor":"#669933","offvalue":"V","offvalueType":"str","officon":"fa-toggle-off fa-2x","offcolor":"#CC0000","x":1150,"y":1300,"wires":[["8681e69b.40133"]]},{"id":"206f4742.2279a8","type":"change","z":"9c631078.7c4b3","name":">grundspiel","rules":[{"t":"set","p":"spiel.grundspiel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":160,"wires":[["e30620d2.8d8aa"]]},{"id":"1ab59fce.735de","type":"change","z":"9c631078.7c4b3","name":">spitzen","rules":[{"t":"set","p":"spiel.spitzen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":440,"wires":[["cd200a36.0048a8"]]},{"id":"ab53fc98.0820b","type":"change","z":"9c631078.7c4b3","name":">augen","rules":[{"t":"set","p":"spiel.augen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":540,"wires":[["7607aa4a.bea954"]]},{"id":"5f24e821.5e9a8","type":"ui_button","z":"9c631078.7c4b3","name":"Eintragen","group":"812c1947.8e3e78","order":10,"width":"3","height":"1","passthru":false,"label":"Eintragen","tooltip":"","color":"black","bgcolor":"{{msg.background}}","icon":"","payload":"Insert","payloadType":"str","topic":"","x":1140,"y":1360,"wires":[["96a33ba6.6a486"]]},{"id":"3348f984.45ed46","type":"ui_button","z":"9c631078.7c4b3","name":"Loeschen","group":"2c7576ed.2dfeda","order":1,"width":"4","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"white","bgcolor":"black","icon":"","payload":"Delete","payloadType":"str","topic":"","x":1140,"y":1420,"wires":[["472a26db.a7a4e8"]]},{"id":"8681e69b.40133","type":"change","z":"9c631078.7c4b3","name":">status","rules":[{"t":"set","p":"spiel.status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1300,"wires":[["cd200a36.0048a8"]]},{"id":"d6515b4b.6f9a58","type":"change","z":"9c631078.7c4b3","name":">gewinnstufe","rules":[{"t":"set","p":"spiel.gewinnstufe","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":240,"wires":[["cd200a36.0048a8"]]},{"id":"c39dd86.1f4b4a8","type":"template","z":"9c631078.7c4b3","name":"INSERT INTO spiele ","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO spiele \n( \nserie_id, \nspielnummer, \ngrundspiel, \nspitzen, \ngewinnstufe, \nspieler, \nstatus, \nreizwert, \naugen, \nbock, \nkontra, \nre,\ngeschoben,\njungfrau,\ndurchmarsch\n) \nVALUES \n(\n{{global.serie.id}},  \n{{flow.spiel.spielnummer}},  \n'{{flow.spiel.grundspiel}}', \n{{flow.spiel.spitzen}}, \n'{{flow.spiel.gewinnstufe}}', \n'{{flow.spiel.spieler}}', \n'{{flow.spiel.status}}', \n{{flow.spiel.reizwert}}, \n'{{flow.spiel.augen}}', \n'{{flow.spiel.bock}}', \n'{{flow.spiel.kontra}}', \n'{{flow.spiel.re}}',\n'{{flow.spiel.geschoben}}', \n'{{flow.spiel.jungfrau}}', \n'{{flow.spiel.durchmarsch}}' \n)\n; ","output":"str","x":1840,"y":1360,"wires":[["c9e7eeba.1719a8"]],"icon":"node-red/db.svg"},{"id":"c8716dd.356f09","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":1670,"y":1420,"wires":[["dd54228c.f0717"]]},{"id":"6a24d6ea.e7154","type":"template","z":"9c631078.7c4b3","name":"DELETE FROM spiele","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM spiele \nWHERE serie_id = {{global.serie.id}} \nAND spielnummer = {{flow.spiel.spielnummer}} \n;\n\n\n","output":"str","x":1500,"y":1420,"wires":[["c8716dd.356f09"]],"icon":"node-red/db.svg"},{"id":"2df9c78.d7520b8","type":"function","z":"9c631078.7c4b3","name":">spieler","func":"flow.set(\"spiel.spielernummer\", msg.payload);\nflow.set(\"spiel.spieler\", global.get(\"serie\")[msg.payload]);\n// msg.spieler = flow.get(\"spiel\").spieler;\n// msg.spielernummer = flow.get(\"spiel\").spielernummer;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":840,"wires":[["cd200a36.0048a8"]]},{"id":"dd54228c.f0717","type":"link out","z":"9c631078.7c4b3","name":"Spiel Updated","links":["26a6e9aa.8b729e"],"x":2355,"y":1420,"wires":[]},{"id":"8ba4ee34.cf7c7","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\n\n// Bockrunden Automatik\nvar bockrunden = flow.get(\"bockrunden\");\n\nif ( typeof bockrunden === 'undefined'){\n    bockrunden = 0;\n    msg.label = 'Bock';\n}\nelse\n{\n    msg.label = 'Bock ' + bockrunden + 'x';\n}\n\n// Button State\n\nif (bockrunden > 0){\n    flow.set(\"spiel.bock\", 'X');\n}\nelse\n{\n    flow.set(\"spiel.bock\", '');\n}\n\nmsg.payload = (flow.get(\"spiel\").bock == 'X') || \n              false;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":640,"wires":[["e11b3f01.c89a7"]]},{"id":"8ef70e2c.492ed","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\nmsg.payload = (flow.get(\"spiel\").kontra == 'X') || \n              false;\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":700,"wires":[["bd9c8922.f14648"]]},{"id":"5450a099.9e5e4","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\nmsg.payload = (flow.get(\"spiel\").re == 'X') || \n              false;\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":780,"wires":[["2c82efa9.b85e2"]]},{"id":"a473f077.36319","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\n\nif (typeof flow.get(\"spiel\").status === 'undefined'){\n    flow.set(\"spiel.status\",'G');\n}\nmsg.payload = flow.get(\"spiel\").status;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":1300,"wires":[["e1c3f7c2.5d6a58"]]},{"id":"d720c07f.ea397","type":"link out","z":"9c631078.7c4b3","name":"Spiel Selected","links":["3e7e8d05.3908b2"],"x":1515,"y":80,"wires":[]},{"id":"fe2fa64.49aab58","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":200,"wires":[["28baf8cc.ad0038"]]},{"id":"42661960.f9cf88","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":280,"wires":[["6747aa53.e556e4"]]},{"id":"a4acc8fc.eaffc8","type":"delay","z":"9c631078.7c4b3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":560,"wires":[["c757c08a.854198"]]},{"id":"dd2e959d.071eb","type":"template","z":"9c631078.7c4b3","name":"DELETE FROM spiele","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM spiele \nWHERE serie_id = {{global.serie.id}} \nAND spielnummer = {{flow.spiel.spielnummer}} \n;\n\n\n","output":"str","x":1500,"y":1360,"wires":[["f6cf9f83.e9b5e"]],"icon":"node-red/db.svg"},{"id":"f6cf9f83.e9b5e","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":1670,"y":1360,"wires":[["c39dd86.1f4b4a8"]]},{"id":"c9e7eeba.1719a8","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":2010,"y":1360,"wires":[["f7d2211e.d3ef8"]]},{"id":"cdba96b.be50368","type":"change","z":"9c631078.7c4b3","name":">reizwert","rules":[{"t":"set","p":"spiel.reizwert","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":320,"wires":[["cd200a36.0048a8"]]},{"id":"2312591.5b63326","type":"function","z":"9c631078.7c4b3","name":"New Spielnummer?","func":"flow.set(\"spiel\", \n{\n    \"spielnummer\" : msg.payload            \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":80,"wires":[["d720c07f.ea397"]]},{"id":"3da4a71b.82f02","type":"function","z":"9c631078.7c4b3","name":"db > spiel","func":"if (msg.payload.length > 0){\n    flow.set(\"spiel\", msg.payload[0]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["a4acc8fc.eaffc8"]]},{"id":"e1b9ef47.89d928","type":"function","z":"9c631078.7c4b3","name":"global.spiele > spiel.spielnummer","func":"\nif (flow.get(\"spiel.spielnummer\") !== 0 ) {\n    flow.set(\"spiel.spielnummer\", (global.get(\"serie\").spiele));\n}\n\nreturn {};","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["8191bb1e.c49e3"]]},{"id":"dd3574fa.51cd58","type":"function","z":"9c631078.7c4b3","name":">bock","func":"if (msg.payload === true){\n    flow.set(\"spiel.bock\", \"X\");\n    flow.set(\"bockrunden\", 3);\n} else\n{\n    flow.set(\"spiel.bock\", \"\");\n    flow.set(\"bockrunden\", undefined);\n}\nreturn {};","outputs":1,"noerr":0,"x":1310,"y":640,"wires":[["8ba4ee34.cf7c7"]]},{"id":"ce3a92ab.2206b","type":"function","z":"9c631078.7c4b3","name":">bock","func":"if (msg.payload === true){\n    flow.set(\"spiel.kontra\", \"X\");\n} else\n{\n    flow.set(\"spiel.kontra\", \"\");\n}","outputs":1,"noerr":0,"x":1310,"y":700,"wires":[[]]},{"id":"b282a267.146c98","type":"function","z":"9c631078.7c4b3","name":">re","func":"if (msg.payload === true){\n    flow.set(\"spiel.re\", \"X\");\n} else\n{\n    flow.set(\"spiel.re\", \"\");\n}","outputs":1,"noerr":0,"x":1310,"y":780,"wires":[[]]},{"id":"a44874b3.09d33","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Reizwert","label":"Gereizt","tooltip":"","place":"","group":"2c7576ed.2dfeda","order":2,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1160,"y":320,"wires":[["cdba96b.be50368"]]},{"id":"f21b4e6e.7838b8","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.options = global.get(\"reizwerte\").map(a => a.wert);\n\nif (typeof flow.get(\"spiel.reizwert\") === 'undefined'){\n    flow.set(\"spiel.reizwert\",'0');\n}\n\nmsg.payload = flow.get(\"spiel.reizwert\");\n\nreturn [{\"payload\":null},msg];\n","outputs":2,"noerr":0,"x":956,"y":326,"wires":[[],["d21ccfb7.a24aa8"]]},{"id":"d21ccfb7.a24aa8","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":360,"wires":[["a44874b3.09d33"]]},{"id":"3a4cd66f.cbc4da","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Spitzen","label":"Spitze","tooltip":"","place":"","group":"812c1947.8e3e78","order":6,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1160,"y":440,"wires":[["1ab59fce.735de"]]},{"id":"961be0b3.601bc8","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.options = global.get(\"spitzen\").map(a => a.spitze);\nif (typeof flow.get(\"spiel.spitzen\") === 'undefined'){\n    flow.set(\"spiel.spitzen\",'0');\n}\nmsg.payload = flow.get(\"spiel.spitzen\");\n\nreturn [{\"payload\":null},msg];\n","outputs":2,"noerr":0,"x":956,"y":446,"wires":[[],["188f5216.b9525e"]]},{"id":"188f5216.b9525e","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":480,"wires":[["3a4cd66f.cbc4da"]]},{"id":"a655d775.8f445","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Augen","label":"Augen","tooltip":"","place":"","group":"812c1947.8e3e78","order":7,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1150,"y":540,"wires":[["ab53fc98.0820b"]]},{"id":"9aa7d191.c22868","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.options = global.get(\"augen\").map(a => a.augen);\n\nif (typeof flow.get(\"spiel\").augen === 'undefined') {\n    flow.set(\"spiel.augen\", global.get(\"defaults\").augen.gewonnen);    \n}\n\nmsg.payload = flow.get(\"spiel\").augen;\n\nreturn [{\"payload\":null},msg];","outputs":2,"noerr":0,"x":956,"y":546,"wires":[[],["7bb326a0.3f7d6"]]},{"id":"7bb326a0.3f7d6","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":580,"wires":[["a655d775.8f445"]]},{"id":"760a3632.1b775","type":"mysql","z":"9c631078.7c4b3","mydb":"8b5dbf99.c90fd","name":"skat","x":810,"y":80,"wires":[["383d412c.b2bba6"]]},{"id":"2ebb7e1c.93b68a","type":"template","z":"9c631078.7c4b3","name":"Spielnummern (seq_1_to_50)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select seq as spielnummer from seq_1_to_50 \nWHERE \nseq <= {{global.serie.spiele}} \n;","output":"str","x":710,"y":20,"wires":[["760a3632.1b775"]],"icon":"node-red/db.png"},{"id":"922c84f7.f4c34","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":120,"wires":[["8cf94acb.01b9e8"]]},{"id":"3e7e8d05.3908b2","type":"link in","z":"9c631078.7c4b3","name":"DB: Read Spiel","links":["d720c07f.ea397"],"x":55,"y":360,"wires":[["8191bb1e.c49e3"]]},{"id":"96a33ba6.6a486","type":"function","z":"9c631078.7c4b3","name":"New Spiel?","func":"if (flow.get(\"spiel\").spielnummer === 0){\n    flow.set(\"spiel.spielnummer\", global.get(\"serie\").spiele +1);\n}\nvar bockrunden = flow.get(\"bockrunden\") ;\nif ( typeof bockrunden !== 'undefined'){\n    if (bockrunden === 1){\n        flow.set(\"bockrunden\", undefined);\n    }\n    else\n    {\n        flow.set(\"bockrunden\", bockrunden -1);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1360,"wires":[["dd2e959d.071eb"]]},{"id":"f7d2211e.d3ef8","type":"function","z":"9c631078.7c4b3","name":"Set \"New\" Spiel","func":"flow.set(\"spiel\", \n{\n    \"spielnummer\" : 0\n});\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":1360,"wires":[["dd54228c.f0717"]]},{"id":"eb0cf4e8.321128","type":"function","z":"9c631078.7c4b3","name":"Eintragen moeglich?","func":"var enabled;\nif (msg.enabled === undefined){\n    enabled = true;\n}\nelse\n{\n    enabled = msg.enabled;\n}\n\nvar spiel = flow.get(\"spiel\");\n\nenabled = enabled && spiel.grundspiel !== undefined;\nenabled = enabled && spiel.gewinnstufe !== undefined;\nenabled = enabled && spiel.spieler !== undefined;\nenabled = enabled && spiel.spitzen !== undefined;\nenabled = enabled && spiel.reizwert !== undefined;\nenabled = enabled && (\n    (['Ramsch'].includes(spiel.grundspiel) && Number(spiel.spitzen) === 0 && Number(spiel.reizwert) === 0) ||\n    (['Null'].includes(spiel.grundspiel) && Number(spiel.spitzen) === 0 && Number(spiel.reizwert) > 0) ||\n    (!['Null', 'Ramsch'].includes(spiel.grundspiel) && Number(spiel.spitzen) !== 0 && Number(spiel.reizwert) > 0)\n    );\n\nmsg.enabled = enabled;\n\nif (enabled){\n    msg.background = 'yellow';\n} else\n{\n    msg.background = 'grey';\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1360,"wires":[["5f24e821.5e9a8"]]},{"id":"cd200a36.0048a8","type":"link out","z":"9c631078.7c4b3","name":"Toggle Eintragen","links":["596efc4a.9b16c4"],"x":1935,"y":480,"wires":[]},{"id":"87577e50.2fdaa","type":"ui_chart","z":"9c631078.7c4b3","name":"","group":"3e337cf.c94d784","order":2,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"-","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"36","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#990099","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1557.999984741211,"y":1519.9999523162842,"wires":[[]]},{"id":"b6ab7e3b.70566","type":"function","z":"9c631078.7c4b3","name":"sp_spieler_chart_series","func":"var serie_id = global.get(\"serie\").id;\nvar sql = \"CALL `sp_spieler_chart_series`(\" + serie_id + \",\" + serie_id + \", 'Alle');\"\n\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1520,"wires":[["bdea03ae.ba906"]],"icon":"node-red/db.svg"},{"id":"753f1849.7551e8","type":"inject","z":"9c631078.7c4b3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":1500,"wires":[["b6ab7e3b.70566"]]},{"id":"a15b308b.dc36a","type":"inject","z":"9c631078.7c4b3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":1360,"wires":[["eb0cf4e8.321128"]]},{"id":"7607aa4a.bea954","type":"function","z":"9c631078.7c4b3","name":"AugenAuto","func":"spiel = flow.get(\"spiel\");\n\naugen = Number(msg.payload);\ngrundspiel = flow.get(\"spiel.grundspiel\");\n\nswitch (true) {\n\n    case augen == 120 && grundspiel !== 'Ramsch': \n        if (spiel.gewinnstufe == \"Hand\") {\n            flow.set(\"spiel.gewinnstufe\", \"Hand Schwarz\");\n        } else\n        {\n            flow.set(\"spiel.gewinnstufe\", \"Schwarz\");\n        }\n  \n        break;\n\n    case (augen >= 90 && grundspiel !== 'Ramsch'): \n       if (spiel.gewinnstufe == \"Hand\") {\n            flow.set(\"spiel.gewinnstufe\", \"Hand Schneider\");\n        } else\n        {\n            flow.set(\"spiel.gewinnstufe\", \"Schneider\");\n        }\n  \n        break;\n\n    case augen <= 60 && grundspiel !== 'Ramsch': \n        if (spiel.grunspiel !== \"Null\") {\n            flow.set(\"spiel.status\", \"V\");\n        }\n        break;\n\n    default:\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1510,"y":540,"wires":[["cd200a36.0048a8"]]},{"id":"a2cd6dc2.0d82b","type":"change","z":"9c631078.7c4b3","name":">geschoben","rules":[{"t":"set","p":"spiel.geschoben","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1020,"wires":[["efaaa9f.461c658"]]},{"id":"9ae49e60.11e77","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Geschoben","label":"Schieben","tooltip":"","place":"0","group":"6f78421e.08236c","order":5,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"0","type":"str"},{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"}],"payload":"","topic":"","x":1150,"y":1020,"wires":[["a2cd6dc2.0d82b"]]},{"id":"8f54d96f.6b18a8","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"if (typeof flow.get(\"spiel.geschoben\") === 'undefined'){\n    flow.set(\"spiel.geschoben\",'0');\n}\nmsg.payload = flow.get(\"spiel.geschoben\");\n\nreturn [{\"payload\":null},msg];\n","outputs":2,"noerr":0,"x":936,"y":1026,"wires":[[],["5614f487.f35d9c"]]},{"id":"5614f487.f35d9c","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1060,"wires":[["9ae49e60.11e77"]]},{"id":"a85f13a9.871de","type":"change","z":"9c631078.7c4b3","name":">jungfrau","rules":[{"t":"set","p":"spiel.jungfrau","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1100,"wires":[["efaaa9f.461c658"]]},{"id":"9c322e19.1acce","type":"ui_dropdown","z":"9c631078.7c4b3","name":"Jungfrau","label":"Jungfrau","tooltip":"","place":"0","group":"6f78421e.08236c","order":5,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"0","type":"str"},{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"}],"payload":"","topic":"","x":1140,"y":1100,"wires":[["a85f13a9.871de"]]},{"id":"ff154b96.f1c318","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"if (typeof flow.get(\"spiel.jungfrau\") === 'undefined'){\n    flow.set(\"spiel.jungfrau\",'0');\n}\nmsg.payload = flow.get(\"spiel.jungfrau\");\n\nreturn [{\"payload\":null},msg];\n","outputs":2,"noerr":0,"x":936,"y":1106,"wires":[[],["53e26662.368218"]]},{"id":"53e26662.368218","type":"delay","z":"9c631078.7c4b3","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1140,"wires":[["9c322e19.1acce"]]},{"id":"46925699.0a03e8","type":"ui_switch","z":"9c631078.7c4b3","name":"Durchmarsch","label":"Durchmarsch","tooltip":"","group":"6f78421e.08236c","order":10,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-lg","oncolor":"#669933","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-lg","offcolor":"#CC0000","x":1140,"y":1200,"wires":[["b56d3941.b627b8"]]},{"id":"534aaf5f.05eb8","type":"function","z":"9c631078.7c4b3","name":"set widget","func":"msg.topic = undefined;\nmsg.payload = (flow.get(\"spiel\").durchmarsch == 'X') || \n              false;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":1200,"wires":[["46925699.0a03e8"]]},{"id":"b56d3941.b627b8","type":"function","z":"9c631078.7c4b3","name":">durchmarsch","func":"if (msg.payload === true){\n    flow.set(\"spiel.durchmarsch\", \"X\");\n} else\n{\n    flow.set(\"spiel.durchmarsch\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1200,"wires":[["5a84510f.79e1d"]]},{"id":"5a84510f.79e1d","type":"function","z":"9c631078.7c4b3","name":"DurchmarschAuto","func":"if (flow.get(\"spiel\").durchmarsch == 'X'){\n    flow.set(\"spiel.augen\", '120');    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1200,"wires":[["cd200a36.0048a8"]],"outputLabels":["geschoben"]},{"id":"efaaa9f.461c658","type":"function","z":"9c631078.7c4b3","name":"JungfrauAuto","func":"if (msg.payload > 0){\n    flow.set(\"spiel.durchmarsch\",\"\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1060,"wires":[["cd200a36.0048a8"]],"outputLabels":["durchmarsch"]},{"id":"472a26db.a7a4e8","type":"function","z":"9c631078.7c4b3","name":"Bockrunden","func":"var bockrunden = flow.get(\"bockrunden\");\nif ( typeof bockrunden !== 'undefined'){\n    flow.set(\"bockrunden\", bockrunden + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1420,"wires":[["6a24d6ea.e7154"]]},{"id":"9ac90f5e.a562f","type":"function","z":"9c631078.7c4b3","name":"Set Loeschen","func":"\n// If new spiel then show dealer info, otherwise enable delete\nif (flow.get(\"spiel.spielnummer\") === 0){\n    var dealername; var openname;\n    \n    var serie = global.get(\"serie\");\n    switch (serie.dealer){\n        case 1: dealername = serie.spieler1; openname = serie.spieler2; break;\n        case 2: dealername = serie.spieler2; openname = serie.spieler3; break;\n        case 3: dealername = serie.spieler3; openname = serie.spieler1; break;\n    }\n    msg.payload = dealername + ' gibt. ' + openname + ' kommt raus.';\n    msg.enabled = false;\n    \n} else\n{\n    msg.payload = 'DEL';\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":1420,"wires":[["3348f984.45ed46"]]},{"id":"b20b58c0.03f7e8","type":"function","z":"9c631078.7c4b3","name":"Ramsch?","func":"// Enable only if Spiel is Ramsch\nmsg.enabled = false;\nif (flow.get(\"spiel.grundspiel\") === \"Ramsch\"){\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":960,"wires":[["ff154b96.f1c318","8f54d96f.6b18a8","534aaf5f.05eb8"]]},{"id":"596efc4a.9b16c4","type":"link in","z":"9c631078.7c4b3","name":"Set Widgets to Spiel","links":["cd200a36.0048a8"],"x":55,"y":520,"wires":[["a4acc8fc.eaffc8"]]},{"id":"645f7c47.446414","type":"debug","z":"9c631078.7c4b3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":720,"wires":[]},{"id":"c96a6030.59761","type":"debug","z":"9c631078.7c4b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":960,"wires":[]},{"id":"e30620d2.8d8aa","type":"function","z":"9c631078.7c4b3","name":"GrundspielAuto","func":"if (flow.get(\"spiel.grundspiel\") == 'Ramsch'){\n    flow.set(\"spiel.reizwert\", '0');  \n    flow.set(\"spiel.status\", 'V');  \n}\nif (flow.get(\"spiel.grundspiel\") == 'Null'){\n    flow.set(\"spiel.gewinnstufe\", 'Einfach');  \n    flow.set(\"spiel.augen\", '0');  \n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":160,"wires":[["cd200a36.0048a8"]]},{"id":"78d8d6a6.56f9d8","type":"inject","z":"9c631078.7c4b3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1620,"y":1760,"wires":[["1e456068.57361"]]},{"id":"b2787f22.1a45f","type":"function","z":"9c631078.7c4b3","name":"get spieler array","func":"var serie = global.get(\"serie\");\n\nmsg.spieler_array = [serie.spieler1,serie.spieler2,serie.spieler3];\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1640,"wires":[["d34a4968.1ef178"]]},{"id":"a8e0e769.41eba8","type":"template","z":"9c631078.7c4b3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"fixed_header\">\n    <thead>\n        <tr>\n            <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"obj in msg.payload\">\n            <td ng-repeat=\"(key,value) in obj\"\n            ng-class=\"{\n            'gewonnen':'{{obj['Status']}}' === 'G' && ['Spieler','Spiel','Spitzen','Stufe'].concat({{msg.spieler_array}}).includes('{{key}}') && {{value}} !== '' ,\n            'verloren':'{{obj['Status']}}' === 'V' && ['Spieler','Spiel','Spitzen','Stufe'].concat({{msg.spieler_array}}).includes('{{key}}') && {{value}} !== ''\n            }\"\n            >{{value}}</td>\n        </tr>  \n    </tbody>\n</table>\n","output":"str","x":1920,"y":1540,"wires":[[]]},{"id":"8fdb681a.8b2bd8","type":"inject","z":"9c631078.7c4b3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":1580,"wires":[["5a4082e3.fc67ac"]]},{"id":"78625f99.5cc4f","type":"function","z":"9c631078.7c4b3","name":"pick columns","func":"var result = msg.payload.map( record =>{\n\n    var new_record = Object.keys(record).map( column => {\n        if (![\"Rang\",\"Spieler\",\"Punkte\",\"Payout\",\"Spiele\",\"Quote\",\"Gew\",\"Verl\",\"Grand\",\"Farb\",\"Null\",\"Ramsch\"].includes(column)){\n            delete record[column];\n        }\n    }\n    );\n\n} )\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1580,"wires":[["db8df787.f25358"]]},{"id":"92823299.b24b","type":"subflow:6c992b35.3a2aa4","z":"9c631078.7c4b3","name":"","env":[],"x":980,"y":1640,"wires":[["83899cdc.aebb1"]]},{"id":"bdea03ae.ba906","type":"subflow:4d857192.18663","z":"9c631078.7c4b3","name":"Get Chart Data","env":[],"x":1360,"y":1520,"wires":[["87577e50.2fdaa"]]},{"id":"1bbb742b.166b3c","type":"debug","z":"9c631078.7c4b3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":160,"wires":[]},{"id":"ab7202cb.0196d","type":"template","z":"9c998f02.d92c2","name":"sp_stats_get(stats_consec_spiele)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_get({{spielzeit}}, 'stats_consec_spiele') ;","output":"str","x":520,"y":400,"wires":[["b01cc999.fdbdf8"]],"icon":"node-red/db.png"},{"id":"677420dd.1210d","type":"function","z":"9c998f02.d92c2","name":"pick columns","func":"var result = msg.payload.map( record =>{\n\n    var new_record = Object.keys(record).map( column => {\n        if (![\"Rang\",\"Spieler\",\"Punkte\",\"Spiele\",\"Quote\"].includes(column)){\n            delete record[column];\n        }\n    }\n    );\n\n} )\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":80,"wires":[[]]},{"id":"bf0a4cd7.4e66f","type":"ui_template","z":"9c998f02.d92c2","group":"1c3f6f48.a610b1","name":"Konsekutive Spiele","order":7,"width":"5","height":"6","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1030,"y":400,"wires":[[]]},{"id":"b1620a7.d2d57f8","type":"ui_button","z":"9c998f02.d92c2","name":"","group":"a6845814.de2ed8","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":93.00001525878906,"y":303.00000190734863,"wires":[["884ec201.80489"]]},{"id":"d9790a56.c20108","type":"inject","z":"9c998f02.d92c2","name":"Manual trigger","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":103.00001525878906,"y":183.00000190734863,"wires":[["884ec201.80489"]]},{"id":"d69b160a.1210d8","type":"link in","z":"9c998f02.d92c2","name":"Übersicht recalc","links":["7e7701a7.c4ded8","e7d592d9.bc65c"],"x":128.00001525878906,"y":243.00000190734863,"wires":[["884ec201.80489"]]},{"id":"fd9450c4.977b4","type":"ui_template","z":"9c998f02.d92c2","group":"1c3f6f48.a610b1","name":"Konsekutive Spiele Liste","order":7,"width":"14","height":"6","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1050,"y":460,"wires":[[]]},{"id":"f902695a.96e9c8","type":"subflow:6c992b35.3a2aa4","z":"9c998f02.d92c2","name":"","env":[],"x":800,"y":460,"wires":[["fd9450c4.977b4"]],"icon":"node-red/db.svg"},{"id":"b01cc999.fdbdf8","type":"subflow:6c992b35.3a2aa4","z":"9c998f02.d92c2","name":"","env":[],"x":800,"y":400,"wires":[["bf0a4cd7.4e66f"]],"icon":"node-red/db.svg"},{"id":"6db54f79.fe6d5","type":"subflow:6c992b35.3a2aa4","z":"9c998f02.d92c2","name":"","env":[],"x":773.0000152587891,"y":163.00000190734863,"wires":[["6b11bb9c.f2b994"]],"icon":"node-red/db.svg"},{"id":"6b11bb9c.f2b994","type":"ui_template","z":"9c998f02.d92c2","group":"6597cae1.aff0f4","name":"Gewinnquote nach Spielart","order":7,"width":"14","height":"6","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1033.000015258789,"y":163.00000190734863,"wires":[[]]},{"id":"884ec201.80489","type":"function","z":"9c998f02.d92c2","name":"Get Spielzeit","func":"msg.spielzeit = global.get(\"spielzeit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":243.00001525878906,"y":283.00000190734863,"wires":[["60e7a076.0c72f","ab7202cb.0196d","12adbc54.c407c4","1e19eb9f.986e24","acf2dd46.caed7"]]},{"id":"60e7a076.0c72f","type":"template","z":"9c998f02.d92c2","name":"sp_stats_get(stats_grundspiel)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_get({{spielzeit}}, 'stats_grundspiel'); ","output":"str","x":503.00001525878906,"y":163.00000190734863,"wires":[["6db54f79.fe6d5"]],"icon":"node-red/db.svg"},{"id":"12adbc54.c407c4","type":"template","z":"9c998f02.d92c2","name":"sp_stats_get(stats_consec_spiele_list)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_get({{spielzeit}}, 'stats_consec_spiele_list') ;","output":"str","x":530,"y":460,"wires":[["f902695a.96e9c8"]],"icon":"node-red/db.png"},{"id":"5ea33b.b835ecc4","type":"subflow:6c992b35.3a2aa4","z":"9c998f02.d92c2","name":"","env":[],"x":770,"y":220,"wires":[["3040a00e.af362"]],"icon":"node-red/db.svg"},{"id":"3040a00e.af362","type":"ui_template","z":"9c998f02.d92c2","group":"faf02eea.a52da","name":"Gewinnquote nach Gewinnstufe","order":7,"width":"14","height":"7","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1040,"y":220,"wires":[[]]},{"id":"1e19eb9f.986e24","type":"template","z":"9c998f02.d92c2","name":"sp_stats_get(stats_gewinnstufe)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_get({{spielzeit}}, 'stats_gewinnstufe'); ","output":"str","x":500,"y":220,"wires":[["5ea33b.b835ecc4"]],"icon":"node-red/db.svg"},{"id":"7626b0b1.89b16","type":"subflow:6c992b35.3a2aa4","z":"9c998f02.d92c2","name":"","env":[],"x":770,"y":280,"wires":[["7acbd40a.55c5dc"]],"icon":"node-red/db.svg"},{"id":"79ef9a24.27fa74","type":"ui_template","z":"9c998f02.d92c2","group":"10566cf6.81fd33","name":"Gewinnquote nach Spitzen","order":7,"width":"14","height":"8","format":"<style>\n    {{msg.css_style}}\n</style>\n\n\n<table class=\"table_bold\">\n    <tr>\n        <th ng-repeat=\"(key,value) in msg.payload[0]\">{{key}}</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td ng-repeat=\"(key,value) in obj\">{{value}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1030,"y":280,"wires":[[]]},{"id":"acf2dd46.caed7","type":"template","z":"9c998f02.d92c2","name":"sp_stats_get(stats_spitzen)","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL sp_stats_get({{spielzeit}}, 'stats_spitzen'); ","output":"str","x":490,"y":280,"wires":[["7626b0b1.89b16"]],"icon":"node-red/db.svg"},{"id":"7acbd40a.55c5dc","type":"function","z":"9c998f02.d92c2","name":"Sort Spitzen","func":"var sorted = msg.payload.sort((a,b)=> -1 * (Number(a.Spitzen) - Number(b.Spitzen)) );\nmsg.payload = sorted;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["79ef9a24.27fa74"]]},{"id":"771f83b5.d1e9cc","type":"function","z":"f30f8d46.e3b7e","name":"Reformat dates","func":"var options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };\nvar reformatted = msg.payload.map(\n    function(rec){\n        rec.Datum = new Date(rec.Datum).toLocaleDateString(\"en-US\", options);\n        return rec;\n    }\n    );\nmsg.payload = reformatted;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"f5b6daed.e21438","type":"debug","z":"f30f8d46.e3b7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":200,"wires":[]},{"id":"e9019a1.31ca368","type":"template","z":"f30f8d46.e3b7e","name":"Stats Grundspiel","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL skatliste.sp_stats_get({{spielzeit}}, 'stats_grundspiel');","output":"str","x":210,"y":100,"wires":[["c3b61787.8b2808"]]},{"id":"f02035ad.79bf38","type":"inject","z":"f30f8d46.e3b7e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["9b0aff83.ad17f"]]},{"id":"ccb7e41e.b06688","type":"subflow:6c992b35.3a2aa4","z":"f30f8d46.e3b7e","name":"","x":440,"y":100,"wires":[["771f83b5.d1e9cc"]]},{"id":"c3b61787.8b2808","type":"mysql","z":"f30f8d46.e3b7e","mydb":"8b5dbf99.c90fd","name":"mysql","x":330,"y":200,"wires":[["17c91850.5d0938","2de5deca.01a0e2"]]},{"id":"6ed2364e.c43d38","type":"function","z":"f30f8d46.e3b7e","name":"ConvertBufferToString","func":"var bufferToString = msg.payload.map( record =>{\n\n    Object.keys(record).map( column => {\n        if (typeof record[column] === \"object\"){\n            record[column] = record[column].toString();        \n        } \n    }\n    );\n    return record;\n} );\n\nmsg.payload = bufferToString;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["5ddce117.ba40e","463c08c1.ecf8d8"]]},{"id":"ff7a866b.5cdec8","type":"catch","z":"f30f8d46.e3b7e","name":"","scope":null,"uncaught":false,"x":560,"y":40,"wires":[["ca8acf33.4e975"]]},{"id":"ca8acf33.4e975","type":"debug","z":"f30f8d46.e3b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":40,"wires":[]},{"id":"5ddce117.ba40e","type":"debug","z":"f30f8d46.e3b7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":260,"wires":[]},{"id":"6124c4c.6fff03c","type":"function","z":"f30f8d46.e3b7e","name":"Reformat dates","func":"var options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };\n\nvar reformatDates = msg.payload.map( record =>{\n\n    Object.keys(record).map( column => {\n        var check1 = isNaN(record[column]);\n        var check2 = isNaN(Date.parse(record[column]));\n        // node.warn(record[column] + ' > ' + Date.parse(record[column]));\n        if (check1 && !check2 ){\n            record[column] = new Date(record[column]).toLocaleDateString(\"en-US\", options);        \n        } \n    }\n    );\n    return record;\n} );\n\nmsg.payload = reformatDates;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["cd877018.a3b08"]]},{"id":"cd877018.a3b08","type":"debug","z":"f30f8d46.e3b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":440,"wires":[]},{"id":"420c2d1.31d54d4","type":"function","z":"f30f8d46.e3b7e","name":"","func":"msg = {payload: [{Datum:\"2022-02-22\",Spielzeit:2,Spieler:\"leif\"}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[[]]},{"id":"c45a95e5.30ba18","type":"inject","z":"f30f8d46.e3b7e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["420c2d1.31d54d4"]]},{"id":"fa404b75.b54578","type":"inject","z":"f30f8d46.e3b7e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["e935c06d.3d272"]]},{"id":"17c91850.5d0938","type":"function","z":"f30f8d46.e3b7e","name":"Get Results","func":"msg.enabled = true;\n\nif (msg.payload.length === 2) {\n    msg.payload = msg.payload[0];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["f5b6daed.e21438","6ed2364e.c43d38"]]},{"id":"2de5deca.01a0e2","type":"debug","z":"f30f8d46.e3b7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":140,"wires":[]},{"id":"9b0aff83.ad17f","type":"function","z":"f30f8d46.e3b7e","name":"Get Spielzeit","func":"msg.spielzeit = global.get(\"spielzeit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":20,"wires":[["e9019a1.31ca368","212d3329.23735c"]]},{"id":"e935c06d.3d272","type":"template","z":"f30f8d46.e3b7e","name":"SQL Spieler Ranking","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \nspieler as Spieler,\nspiele as Lauf,\ndatum as Datum,\nstart_spielnummer as \"ab Spiel\"\nFROM vw_stats_consec_spiele\nORDER BY spiele desc, datum asc\n;","output":"str","x":240,"y":260,"wires":[["c3b61787.8b2808"]],"icon":"node-red/db.png"},{"id":"212d3329.23735c","type":"template","z":"f30f8d46.e3b7e","name":"sp_tabelle_serien","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CALL `sp_tabelle_serien`({{spielzeit}},\"punkte\"); ","output":"str","x":142.5,"y":141.25,"wires":[[]],"icon":"node-red/db.png"},{"id":"463c08c1.ecf8d8","type":"function","z":"f30f8d46.e3b7e","name":"Camel Case","func":"function camelCase(str) { \n            return str \n                .replace(/\\s(.)/g, function(a) { \n                    return a.toUpperCase(); \n                }) \n                .replace(/^(.)/, function(b) { \n                    return b.toUpperCase(); \n                }); \n        }\n\nfunction renameKeys(obj, newKeys) {\n  const keyValues = Object.keys(obj).map(key => {\n    const newKey = newKeys[key] || key;\n    return { [newKey]: obj[key] };\n  });\n  return Object.assign({}, ...keyValues);\n}\n\nvar result = msg.payload.map( obj => {\n\n   var renamedKeys = {};\n   Object.keys(obj).map(key =>{\n       renamedKeys[key] = camelCase(key) ;\n   });\n\n   return renameKeys(obj, renamedKeys);\n\n});\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["ec86a087.af41f"]]},{"id":"ec86a087.af41f","type":"debug","z":"f30f8d46.e3b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":320,"wires":[]},{"id":"2196b7e1.7f70a","type":"ui_text","z":"340c01ee.e2eb16","group":"ebbe3fa0.6b6768","order":4,"width":3,"height":1,"name":"","label":"Filters","format":" -->","layout":"row-center","x":1450,"y":120,"wires":[]}]